/*
	#author		lut000
	#date 		2017/03/03
*/
@charset "utf-8";


/*login*/
.login-box{background-image: url(../../images/login/bg.jpg);background-repeat: no-repeat;background-position: center top;background-size: auto 100%}
.login-box>.section{padding: 125px 0 105px}
.login-div{*width: 32%;float: right;padding: 25px 40px 20px;margin-right: 55px;border-radius: 10px;box-shadow: 0px 0px 10px #585247;background-color: #fff;}
.login-div>h3{text-align: center;font-size: 20px;margin-bottom: 30px;}
.login-div>form input[type="text"],.login-div>form input[type="password"]{font-size: 16px;margin-bottom: 12px}
.input-area{width: 266px;height: 36px;line-height: 36px;border:none;border-bottom: 2px solid #EBECEF;vertical-align: middle;}
.login-div>form>label{display: inline-block;*display: inline-block;width: 30px;height: 30px;margin-right: 24px;margin-bottom: 14px;vertical-align: middle;background-repeat: no-repeat;background-size: 100%;background-position: center;}
.login-div>form>label>img{width: 100%;}
.login-div>form .code-label{margin-bottom: 12px;*margin-bottom: 40px}
.error-p{font-size: 12px;margin-left: 60px;margin-bottom: 10px;vertical-align: middle;color: #FB3352;opacity: 0;filter:alpha(opacity=0);}
.error-p>img{width: 18px;margin-right: 5px;vertical-align: -4px;}

.code-span{display: inline-block;*display: inline-block;width: 266px;margin-bottom: 12px;border-bottom: 2px solid #EBECEF;vertical-align: middle;}
.login-div>form .code-span>input{*float: left;width: 6em;height: 40px;margin-bottom: 0;line-height: 40px;border:none;vertical-align: baseline;*vertical-align: middle;*position: relative;*top: -7px}
.code-span>img{width: 100px;height: 40px;margin-top: -5px;float: right;cursor: pointer;}
input.login-btn{width: 100%;height: 48px;line-height: 48px;font-size: 18px;margin-top: 10px;background: #FB3352;color: #fff;}
input.login-btn:hover{background-color: #e60c2e}

.go-register{font-size: 14px;margin-top: 10px;margin-bottom: 30px;color: #333;text-align: right;}
.go-register>a{color: #333;}
.pass-method{font-size: 14px;color: #999;}
.pass-method>label{cursor: pointer;}
.pass-method>label>img{width: 23px;margin-right: 5px;vertical-align: -6px;}

.pass-method>a{float: right;color: #999;}
.pass-method>a>img{width: 24px;height: 24px;margin-right: 5px;vertical-align: -7px;}
